@import url("https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300,400,700,800");
*, *::before, *::after {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(197, 197, 197, 0.13);
  margin: 0;
  color: rgba(14, 11, 22, 0.78);
  height: 100%; }

#root {
  height: 100%; }

.container {
  min-height: 100%;
  position: relative; }

main {
  height: 100%;
  padding: 15px;
  padding-bottom: 75px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif; }

a {
  text-decoration: none;
  color: black;
  cursor: pointer; }

ul {
  padding: 0; }

li {
  list-style-type: none;
  text-align: center; }

.top-padding-15 {
  padding-top: 15px; }

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-family: "Work Sans", sans-serif;
  align-items: center;
  height: 75px;
  box-shadow: 0 0 3px 1px lightgray;
  padding: 0 15px;
  background-color: white;
  width: 100%;
  margin-bottom: 25px;
  color: rgba(14, 11, 22, 0.78); }

#logo {
  font-family: "Work Sans", sans-serif;
  font-weight: bolder;
  font-size: 1.4em; }

.nav-list-container {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center; }

.nav-list-container li {
  padding: 0 15px;
  border-radius: 5px; }

.nav-list-container a {
  color: black; }

.nav-list-container a:hover {
  color: #6e6eda; }

.row-container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 5px 0;
  font-size: .8em; }

label {
  margin-right: 10px; }

.grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center; }

.grid-box {
  background-color: #0000001f;
  box-shadow: 0px 0px 3px 1px lightgray;
  width: 100%;
  margin-bottom: 25px; }

.grid-box-items li:nth-child(1n +2) {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px; }

.grid-image {
  height: 200px;
  display: flex;
  background-color: white; }

img {
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin: auto; }

.btn-lrg {
  text-align: center;
  border-radius: 25px;
  border: none;
  padding: 10px 15px;
  margin: 15px 0;
  width: 100%;
  max-width: 250px;
  cursor: pointer; }

.btn-sm {
  text-align: center;
  border-radius: 25px;
  border: none;
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer; }

.action {
  background: #6e6eda;
  color: white; }
  .action:hover {
    background: rgba(132, 132, 255, 0.76); }

.warning {
  background: #fb5850c7;
  color: white; }
  .warning:hover {
    background: rgba(251, 88, 80, 0.43); }

.navigate {
  background-color: lightgray;
  color: white; }

.navigation:hover {
  background: rgba(132, 132, 255, 0.76); }

.link {
  margin: 5px; }

.link a {
  color: #6e6eda;
  margin: 0; }

.message-display {
  font-weight: bold;
  margin-left: 15px; }

#message-display {
  text-align: right;
  margin-bottom: 20px; }

.smalltext {
  font-size: .6em;
  margin-right: 5px; }

table {
  box-shadow: 0px 0px 3px 1px lightgray;
  background: white;
  width: 100%;
  border-spacing: 0;
  text-align: center;
  font-size: .9em; }

th {
  background-color: rgba(132, 132, 255, 0.76);
  padding: 9px 0; }

td {
  width: 12.5%; }

.top-table {
  font-family: "Work Sans", sans-serif; }

.top-table td:nth-child(n) {
  width: 12.5%;
  padding: 5px;
  border: none; }

.top-label {
  background-color: #eeeeee; }

.cell-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100px; }

.cell-container strong {
  font-size: 1.3em; }

.row-spacebetween {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-size: .95em; }

.cell-update-container {
  display: none;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0;
  position: relative; }

.cell-update-container .row-container {
  padding: 0;
  flex-flow: row nowrap;
  align-items: flex-start; }

.cell-update-container input {
  width: 50px;
  border-radius: 3px;
  border: black solid 1px; }

.cell-update-container textarea {
  height: 1.5em;
  border-radius: 3px;
  border: black solid 1px; }

.cell-update-container label {
  display: flex;
  justify-content: center;
  align-items: center; }

.cell-update-container button {
  margin: 5px;
  width: 40%;
  padding: 5px; }

tr:nth-child(even) {
  background: #eeeeee; }

td:nth-child(even) {
  border-right: 1px solid black;
  border-left: 1px solid black; }

td:nth-child(8) {
  border-right: none; }

.lrg-text {
  font-size: 3em;
  font-weight: bold; }

.hidden {
  display: none; }

.show-form {
  display: flex; }

.workout-description {
  font-size: .95em; }

input {
  margin: 5px; }

#distance, #time {
  width: 45px; }

#submit-button {
  width: 97%;
  border-radius: 15px;
  border: none;
  padding: 5px;
  margin: 5px 0; }

#checkbox {
  display: block;
  border: solid black 1px;
  width: 20px;
  height: 20px;
  position: relative;
  margin: 2px 2px 2px auto; }

input[type=checkbox] {
  display: none; }

.close-button {
  position: absolute;
  top: 0;
  display: block; }

.container-spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px; }

.login {
  background: lightgray;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  margin: 50px auto; }

.login input {
  margin-bottom: 15px;
  border-radius: 2px;
  border: none;
  padding: 5px;
  width: 100%;
  max-width: 250px; }

footer {
  position: absolute;
  width: 100%;
  padding: 15px;
  bottom: 0;
  left: 0;
  background: black;
  color: white; }

.margin-bottom-25 {
  margin-bottom: 25px; }

@media screen and (min-width: 600px) {
  .raceItem {
    min-width: 300px;
    height: auto;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 10px 5px 0px 5px; }

  .grid-box {
    background-color: #0000001f;
    box-shadow: 0px 0px 3px 1px lightgray;
    min-width: 250px;
    max-width: 23%;
    flex: 0 1 auto;
    margin-bottom: 25px;
    margin-right: 25px; } }

/*# sourceMappingURL=index.css.map */
